--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: first_Table; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."first_Table" (
);


ALTER TABLE public."first_Table" OWNER TO postgres;

--
-- Name: insulin_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.insulin_logs (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    timestamp_utc timestamp with time zone NOT NULL,
    insulin_type text NOT NULL,
    prescribed_units numeric(6,2),
    units_taken numeric(6,2) NOT NULL,
    purpose text NOT NULL,
    dose_context text NOT NULL,
    current_bg_mgdl smallint,
    remarks text,
    ai_remark text,
    CONSTRAINT chk_bg_range CHECK (((current_bg_mgdl IS NULL) OR ((current_bg_mgdl >= 20) AND (current_bg_mgdl <= 600)))),
    CONSTRAINT chk_prescribed_units_nonneg CHECK (((prescribed_units IS NULL) OR (prescribed_units >= (0)::numeric))),
    CONSTRAINT chk_units_taken_nonneg CHECK ((units_taken >= (0)::numeric)),
    CONSTRAINT insulin_logs_purpose_check CHECK ((purpose = ANY (ARRAY['basal'::text, 'bolus'::text, 'correction'::text])))
);


ALTER TABLE public.insulin_logs OWNER TO postgres;

--
-- Name: insulin_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.insulin_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.insulin_logs_id_seq OWNER TO postgres;

--
-- Name: insulin_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.insulin_logs_id_seq OWNED BY public.insulin_logs.id;


--
-- Name: lord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lord (
    session_id uuid NOT NULL,
    user_query text,
    ai_response text,
    "time" timestamp without time zone DEFAULT now()
);


ALTER TABLE public.lord OWNER TO postgres;

--
-- Name: patients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patients (
    user_id integer NOT NULL,
    full_name text NOT NULL,
    age_years smallint,
    gender text,
    diabetes_type text,
    primary_basal_insulin_type text,
    primary_bolus_insulin_type text,
    shots_per_day smallint,
    tdd_units numeric(6,2),
    target_bg_mgdl smallint,
    icr_g_per_unit numeric(6,2),
    isf_mgdl_per_unit numeric(6,2),
    preferred_units_increment numeric(3,1),
    time_zone text,
    scheduled_basal_times jsonb,
    patient_phone text,
    emergency_contact_name text,
    emergency_contact_phone text,
    clinician_name text,
    clinician_contact text,
    created_at_utc timestamp with time zone DEFAULT now(),
    updated_at_utc timestamp with time zone DEFAULT now(),
    CONSTRAINT chk_patient_phone_10digits CHECK (((patient_phone IS NULL) OR (patient_phone ~ '^[0-9]{10}$'::text))),
    CONSTRAINT patients_age_years_check CHECK (((age_years >= 0) AND (age_years <= 120))),
    CONSTRAINT patients_diabetes_type_check CHECK ((diabetes_type = ANY (ARRAY['T1DM'::text, 'T2DM'::text, 'GDM'::text, 'LADA'::text, 'MODY'::text, 'other'::text]))),
    CONSTRAINT patients_gender_check CHECK ((gender = ANY (ARRAY['male'::text, 'female'::text, 'nonbinary'::text, 'other'::text, 'prefer_not_to_say'::text]))),
    CONSTRAINT patients_shots_per_day_check CHECK ((shots_per_day >= 0)),
    CONSTRAINT patients_target_bg_mgdl_check CHECK (((target_bg_mgdl >= 70) AND (target_bg_mgdl <= 200))),
    CONSTRAINT patients_tdd_units_check CHECK ((tdd_units >= (0)::numeric))
);


ALTER TABLE public.patients OWNER TO postgres;

--
-- Name: patients_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.patients ALTER COLUMN user_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.patients_user_id_seq
    START WITH 100000
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reminders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reminders (
    reminder_id bigint NOT NULL,
    user_id integer NOT NULL,
    label text NOT NULL,
    repeat_mode text NOT NULL,
    days_of_week jsonb,
    local_date date,
    local_time time without time zone NOT NULL,
    next_fire_utc timestamp with time zone NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at_utc timestamp with time zone DEFAULT now(),
    last_called_utc timestamp with time zone,
    CONSTRAINT reminders_repeat_mode_check CHECK ((repeat_mode = ANY (ARRAY['everyday'::text, 'custom'::text, 'one_off'::text])))
);


ALTER TABLE public.reminders OWNER TO postgres;

--
-- Name: reminders_reminder_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reminders_reminder_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reminders_reminder_id_seq OWNER TO postgres;

--
-- Name: reminders_reminder_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reminders_reminder_id_seq OWNED BY public.reminders.reminder_id;


--
-- Name: student; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student (
    id integer NOT NULL,
    name character varying(20) NOT NULL,
    "time" timestamp without time zone NOT NULL
);


ALTER TABLE public.student OWNER TO postgres;

--
-- Name: insulin_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insulin_logs ALTER COLUMN id SET DEFAULT nextval('public.insulin_logs_id_seq'::regclass);


--
-- Name: reminders reminder_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders ALTER COLUMN reminder_id SET DEFAULT nextval('public.reminders_reminder_id_seq'::regclass);


--
-- Data for Name: first_Table; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."first_Table"  FROM stdin;
\.


--
-- Data for Name: insulin_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lord; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reminders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: student; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student (id, name, "time") FROM stdin;
10	Ashish	2025-06-18 13:23:37.534575
20	Doraemon	2025-06-18 13:23:57.739867
30	Nobita	2025-06-18 13:24:15.789
\.


--
-- Name: insulin_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.insulin_logs_id_seq', 15, true);


--
-- Name: patients_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.patients_user_id_seq', 100007, true);


--
-- Name: reminders_reminder_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reminders_reminder_id_seq', 14, true);


--
-- Name: insulin_logs insulin_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insulin_logs
    ADD CONSTRAINT insulin_logs_pkey PRIMARY KEY (id);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (user_id);


--
-- Name: reminders reminders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_pkey PRIMARY KEY (reminder_id);


--
-- Name: student student_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_pkey PRIMARY KEY (id);


--
-- Name: idx_logs_user_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_logs_user_time ON public.insulin_logs USING btree (user_id, timestamp_utc DESC);


--
-- Name: insulin_logs fk_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insulin_logs
    ADD CONSTRAINT fk_user FOREIGN KEY (user_id) REFERENCES public.patients(user_id) ON DELETE CASCADE;


--
-- Name: reminders reminders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.patients(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

